In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib

Using matplotlib backend: MacOSX

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
df = df.drop(['Name','Ticket','Cabin'], axis=1)
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,male,22.0,1,0,7.2500,S
1,2,1,1,female,38.0,1,0,71.2833,C
2,3,1,3,female,26.0,0,0,7.9250,S
3,4,1,1,female,35.0,1,0,53.1000,S
4,5,0,3,male,35.0,0,0,8.0500,S
5,6,0,3,male,NaN,0,0,8.4583,Q
6,7,0,1,male,54.0,0,0,51.8625,S
7,8,0,3,male,2.0,3,1,21.0750,S
8,9,1,3,female,27.0,0,2,11.1333,S
9,10,1,2,female,14.0,1,0,30.0708,C
10,11,1,3,female,4.0,1,1,16.7000,S
11,12,1,1,female,58.0,0,0,26.5500,S
12,13,0,3,male,20.0,0,0,8.0500,S
13,14,0,3,male,39.0,1,5,31.2750,S
14,15,0,3,female,14.0,0,0,7.8542,S
15,16,1,2,female,55.0,0,0,16.0000,S
16,17,0,3,male,2.0,4,1,29.1250,Q
17,18,1,2,male,NaN,0,0,13.0000,S
18,19,0,3,female,31.0,1,0,18.0000,S
19,20,1,3,female,NaN,0,0,7.2250,C
20,21,0,2,male,35.0,0,0,26.0000,S
21,22,1,2,male,34.0,0,0,13.0000,S
22,23,1,3,female,15.0,0,0,8.0292,Q
23,24,1,1,male,28.0,0,0,35.5000,S
24,25,0,3,female,8.0,3,1,21.0750,S
25,26,1,3,female,38.0,1,5,31.3875,S
26,27,0,3,male,NaN,0,0,7.2250,C
27,28,0,1,male,19.0,3,2,263.0000,S
28,29,1,3,female,NaN,0,0,7.8792,Q
29,30,0,3,male,NaN,0,0,7.8958,S
...,...,...,...,...,...,...,...,...,...
861,862,0,2,male,21.0,1,0,11.5000,S
862,863,1,1,female,48.0,0,0,25.9292,S
863,864,0,3,female,NaN,8,2,69.5500,S
864,865,0,2,male,24.0,0,0,13.0000,S
865,866,1,2,female,42.0,0,0,13.0000,S
866,867,1,2,female,27.0,1,0,13.8583,C
867,868,0,1,male,31.0,0,0,50.4958,S
868,869,0,3,male,NaN,0,0,9.5000,S
869,870,1,3,male,4.0,1,1,11.1333,S
870,871,0,3,male,26.0,0,0,7.8958,S
871,872,1,1,female,47.0,1,1,52.5542,S
872,873,0,1,male,33.0,0,0,5.0000,S
873,874,0,3,male,47.0,0,0,9.0000,S
874,875,1,2,female,28.0,1,0,24.0000,C
875,876,1,3,female,15.0,0,0,7.2250,C
876,877,0,3,male,20.0,0,0,9.8458,S
877,878,0,3,male,19.0,0,0,7.8958,S
878,879,0,3,male,NaN,0,0,7.8958,S
879,880,1,1,female,56.0,0,1,83.1583,C
880,881,1,2,female,25.0,0,1,26.0000,S
881,882,0,3,male,33.0,0,0,7.8958,S
882,883,0,3,female,22.0,0,0,10.5167,S
883,884,0,2,male,28.0,0,0,10.5000,S
884,885,0,3,male,25.0,0,0,7.0500,S
885,886,0,3,female,39.0,0,5,29.1250,Q
886,887,0,2,male,27.0,0,0,13.0000,S
887,888,1,1,female,19.0,0,0,30.0000,S
888,889,0,3,female,NaN,1,2,23.4500,S
889,890,1,1,male,26.0,0,0,30.0000,C
890,891,0,3,male,32.0,0,0,7.7500,Q

In [6]:
# 各特徴量の欠損値をカウント
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Embarked         2
dtype: int64

In [7]:
df = df.interpolate(method='linear')

In [8]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       2
dtype: int64

In [9]:
df=df.dropna()

In [10]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [11]:
Embarked_mapping = {'C': 0, 'Q': 1, 'S': 2}

df['Embarked'] = df['Embarked'].map(Embarked_mapping)

df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,male,22.0,1,0,7.2500,2
1,2,1,1,female,38.0,1,0,71.2833,0
2,3,1,3,female,26.0,0,0,7.9250,2
3,4,1,1,female,35.0,1,0,53.1000,2
4,5,0,3,male,35.0,0,0,8.0500,2
5,6,0,3,male,44.5,0,0,8.4583,1
6,7,0,1,male,54.0,0,0,51.8625,2
7,8,0,3,male,2.0,3,1,21.0750,2
8,9,1,3,female,27.0,0,2,11.1333,2
9,10,1,2,female,14.0,1,0,30.0708,0
10,11,1,3,female,4.0,1,1,16.7000,2
11,12,1,1,female,58.0,0,0,26.5500,2
12,13,0,3,male,20.0,0,0,8.0500,2
13,14,0,3,male,39.0,1,5,31.2750,2
14,15,0,3,female,14.0,0,0,7.8542,2
15,16,1,2,female,55.0,0,0,16.0000,2
16,17,0,3,male,2.0,4,1,29.1250,1
17,18,1,2,male,16.5,0,0,13.0000,2
18,19,0,3,female,31.0,1,0,18.0000,2
19,20,1,3,female,33.0,0,0,7.2250,0
20,21,0,2,male,35.0,0,0,26.0000,2
21,22,1,2,male,34.0,0,0,13.0000,2
22,23,1,3,female,15.0,0,0,8.0292,1
23,24,1,1,male,28.0,0,0,35.5000,2
24,25,0,3,female,8.0,3,1,21.0750,2
25,26,1,3,female,38.0,1,5,31.3875,2
26,27,0,3,male,28.5,0,0,7.2250,0
27,28,0,1,male,19.0,3,2,263.0000,2
28,29,1,3,female,26.0,0,0,7.8792,1
29,30,0,3,male,33.0,0,0,7.8958,2
...,...,...,...,...,...,...,...,...,...
861,862,0,2,male,21.0,1,0,11.5000,2
862,863,1,1,female,48.0,0,0,25.9292,2
863,864,0,3,female,36.0,8,2,69.5500,2
864,865,0,2,male,24.0,0,0,13.0000,2
865,866,1,2,female,42.0,0,0,13.0000,2
866,867,1,2,female,27.0,1,0,13.8583,0
867,868,0,1,male,31.0,0,0,50.4958,2
868,869,0,3,male,17.5,0,0,9.5000,2
869,870,1,3,male,4.0,1,1,11.1333,2
870,871,0,3,male,26.0,0,0,7.8958,2
871,872,1,1,female,47.0,1,1,52.5542,2
872,873,0,1,male,33.0,0,0,5.0000,2
873,874,0,3,male,47.0,0,0,9.0000,2
874,875,1,2,female,28.0,1,0,24.0000,0
875,876,1,3,female,15.0,0,0,7.2250,0
876,877,0,3,male,20.0,0,0,9.8458,2
877,878,0,3,male,19.0,0,0,7.8958,2
878,879,0,3,male,37.5,0,0,7.8958,2
879,880,1,1,female,56.0,0,1,83.1583,0
880,881,1,2,female,25.0,0,1,26.0000,2
881,882,0,3,male,33.0,0,0,7.8958,2
882,883,0,3,female,22.0,0,0,10.5167,2
883,884,0,2,male,28.0,0,0,10.5000,2
884,885,0,3,male,25.0,0,0,7.0500,2
885,886,0,3,female,39.0,0,5,29.1250,1
886,887,0,2,male,27.0,0,0,13.0000,2
887,888,1,1,female,19.0,0,0,30.0000,2
888,889,0,3,female,22.5,1,2,23.4500,2
889,890,1,1,male,26.0,0,0,30.0000,0
890,891,0,3,male,32.0,0,0,7.7500,1

In [12]:
SEX_mapping = {'male': 0, 'female': 1}

df['Sex'] = df['Sex'].map(SEX_mapping)
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,0,22.0,1,0,7.2500,2
1,2,1,1,1,38.0,1,0,71.2833,0
2,3,1,3,1,26.0,0,0,7.9250,2
3,4,1,1,1,35.0,1,0,53.1000,2
4,5,0,3,0,35.0,0,0,8.0500,2
5,6,0,3,0,44.5,0,0,8.4583,1
6,7,0,1,0,54.0,0,0,51.8625,2
7,8,0,3,0,2.0,3,1,21.0750,2
8,9,1,3,1,27.0,0,2,11.1333,2
9,10,1,2,1,14.0,1,0,30.0708,0
10,11,1,3,1,4.0,1,1,16.7000,2
11,12,1,1,1,58.0,0,0,26.5500,2
12,13,0,3,0,20.0,0,0,8.0500,2
13,14,0,3,0,39.0,1,5,31.2750,2
14,15,0,3,1,14.0,0,0,7.8542,2
15,16,1,2,1,55.0,0,0,16.0000,2
16,17,0,3,0,2.0,4,1,29.1250,1
17,18,1,2,0,16.5,0,0,13.0000,2
18,19,0,3,1,31.0,1,0,18.0000,2
19,20,1,3,1,33.0,0,0,7.2250,0
20,21,0,2,0,35.0,0,0,26.0000,2
21,22,1,2,0,34.0,0,0,13.0000,2
22,23,1,3,1,15.0,0,0,8.0292,1
23,24,1,1,0,28.0,0,0,35.5000,2
24,25,0,3,1,8.0,3,1,21.0750,2
25,26,1,3,1,38.0,1,5,31.3875,2
26,27,0,3,0,28.5,0,0,7.2250,0
27,28,0,1,0,19.0,3,2,263.0000,2
28,29,1,3,1,26.0,0,0,7.8792,1
29,30,0,3,0,33.0,0,0,7.8958,2
...,...,...,...,...,...,...,...,...,...
861,862,0,2,0,21.0,1,0,11.5000,2
862,863,1,1,1,48.0,0,0,25.9292,2
863,864,0,3,1,36.0,8,2,69.5500,2
864,865,0,2,0,24.0,0,0,13.0000,2
865,866,1,2,1,42.0,0,0,13.0000,2
866,867,1,2,1,27.0,1,0,13.8583,0
867,868,0,1,0,31.0,0,0,50.4958,2
868,869,0,3,0,17.5,0,0,9.5000,2
869,870,1,3,0,4.0,1,1,11.1333,2
870,871,0,3,0,26.0,0,0,7.8958,2
871,872,1,1,1,47.0,1,1,52.5542,2
872,873,0,1,0,33.0,0,0,5.0000,2
873,874,0,3,0,47.0,0,0,9.0000,2
874,875,1,2,1,28.0,1,0,24.0000,0
875,876,1,3,1,15.0,0,0,7.2250,0
876,877,0,3,0,20.0,0,0,9.8458,2
877,878,0,3,0,19.0,0,0,7.8958,2
878,879,0,3,0,37.5,0,0,7.8958,2
879,880,1,1,1,56.0,0,1,83.1583,0
880,881,1,2,1,25.0,0,1,26.0000,2
881,882,0,3,0,33.0,0,0,7.8958,2
882,883,0,3,1,22.0,0,0,10.5167,2
883,884,0,2,0,28.0,0,0,10.5000,2
884,885,0,3,0,25.0,0,0,7.0500,2
885,886,0,3,1,39.0,0,5,29.1250,1
886,887,0,2,0,27.0,0,0,13.0000,2
887,888,1,1,1,19.0,0,0,30.0000,2
888,889,0,3,1,22.5,1,2,23.4500,2
889,890,1,1,0,26.0,0,0,30.0000,0
890,891,0,3,0,32.0,0,0,7.7500,1

In [13]:
df_target = pd.DataFrame(df, columns=['Survived'])

In [14]:
df_target

     Survived
0           0
1           1
2           1
3           1
4           0
5           0
6           0
7           0
8           1
9           1
10          1
11          1
12          0
13          0
14          0
15          1
16          0
17          1
18          0
19          1
20          0
21          1
22          1
23          1
24          0
25          1
26          0
27          0
28          1
29          0
..        ...
861         0
862         1
863         0
864         0
865         1
866         1
867         0
868         0
869         1
870         0
871         1
872         0
873         0
874         1
875         1
876         0
877         0
878         0
879         1
880         1
881         0
882         0
883         0
884         0
885         0
886         0
887         1
888         0
889         1
890         0

[889 rows x 1 columns]

In [15]:
df.corr()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
PassengerId,1.000000,-0.005028,-0.035330,-0.043136,0.022567,-0.057686,-0.001657,0.012703,0.013166
Survived,-0.005028,1.000000,-0.335549,0.541585,-0.066659,-0.034040,0.083151,0.255290,-0.169718
Pclass,-0.035330,-0.335549,1.000000,-0.127741,-0.301600,0.081656,0.016824,-0.548193,0.164681
Sex,-0.043136,0.541585,-0.127741,1.000000,-0.066133,0.116348,0.247508,0.179958,-0.110320
Age,0.022567,-0.066659,-0.301600,-0.066133,1.000000,-0.212594,-0.169047,0.084320,-0.024406
SibSp,-0.057686,-0.034040,0.081656,0.116348,-0.212594,1.000000,0.414542,0.160887,0.068900
Parch,-0.001657,0.083151,0.016824,0.247508,-0.169047,0.414542,1.000000,0.217532,0.040449
Fare,0.012703,0.255290,-0.548193,0.179958,0.084320,0.160887,0.217532,1.000000,-0.226311
Embarked,0.013166,-0.169718,0.164681,-0.110320,-0.024406,0.068900,0.040449,-0.226311,1.000000

In [16]:
df = df.drop(['Survived'], axis=1)
df

     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0              1       3    0  22.0      1      0    7.2500         2
1              2       1    1  38.0      1      0   71.2833         0
2              3       3    1  26.0      0      0    7.9250         2
3              4       1    1  35.0      1      0   53.1000         2
4              5       3    0  35.0      0      0    8.0500         2
5              6       3    0  44.5      0      0    8.4583         1
6              7       1    0  54.0      0      0   51.8625         2
7              8       3    0   2.0      3      1   21.0750         2
8              9       3    1  27.0      0      2   11.1333         2
9             10       2    1  14.0      1      0   30.0708         0
10            11       3    1   4.0      1      1   16.7000         2
11            12       1    1  58.0      0      0   26.5500         2
12            13       3    0  20.0      0      0    8.0500         2
13            14       3    0  39.0      1      5   31.2750         2
14            15       3    1  14.0      0      0    7.8542         2
15            16       2    1  55.0      0      0   16.0000         2
16            17       3    0   2.0      4      1   29.1250         1
17            18       2    0  16.5      0      0   13.0000         2
18            19       3    1  31.0      1      0   18.0000         2
19            20       3    1  33.0      0      0    7.2250         0
20            21       2    0  35.0      0      0   26.0000         2
21            22       2    0  34.0      0      0   13.0000         2
22            23       3    1  15.0      0      0    8.0292         1
23            24       1    0  28.0      0      0   35.5000         2
24            25       3    1   8.0      3      1   21.0750         2
25            26       3    1  38.0      1      5   31.3875         2
26            27       3    0  28.5      0      0    7.2250         0
27            28       1    0  19.0      3      2  263.0000         2
28            29       3    1  26.0      0      0    7.8792         1
29            30       3    0  33.0      0      0    7.8958         2
..           ...     ...  ...   ...    ...    ...       ...       ...
861          862       2    0  21.0      1      0   11.5000         2
862          863       1    1  48.0      0      0   25.9292         2
863          864       3    1  36.0      8      2   69.5500         2
864          865       2    0  24.0      0      0   13.0000         2
865          866       2    1  42.0      0      0   13.0000         2
866          867       2    1  27.0      1      0   13.8583         0
867          868       1    0  31.0      0      0   50.4958         2
868          869       3    0  17.5      0      0    9.5000         2
869          870       3    0   4.0      1      1   11.1333         2
870          871       3    0  26.0      0      0    7.8958         2
871          872       1    1  47.0      1      1   52.5542         2
872          873       1    0  33.0      0      0    5.0000         2
873          874       3    0  47.0      0      0    9.0000         2
874          875       2    1  28.0      1      0   24.0000         0
875          876       3    1  15.0      0      0    7.2250         0
876          877       3    0  20.0      0      0    9.8458         2
877          878       3    0  19.0      0      0    7.8958         2
878          879       3    0  37.5      0      0    7.8958         2
879          880       1    1  56.0      0      1   83.1583         0
880          881       2    1  25.0      0      1   26.0000         2
881          882       3    0  33.0      0      0    7.8958         2
882          883       3    1  22.0      0      0   10.5167         2
883          884       2    0  28.0      0      0   10.5000         2
884          885       3    0  25.0      0      0    7.0500         2
885          886       3    1  39.0      0      5   29.1250         1
886          887       2    0  27.0      0      0   13.0000         2
887          888       1    1  19.0      0      0   30.0000         2
888          889       3    1  22.5      1      2   23.4500         2
889          890       1    0  26.0      0      0   30.0000         0
890          891       3    0  32.0      0      0    7.7500         1

[889 rows x 8 columns]

In [17]:
df2 = df.drop(['PassengerId'], axis=1)
df2

     Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0         3    0  22.0      1      0    7.2500         2
1         1    1  38.0      1      0   71.2833         0
2         3    1  26.0      0      0    7.9250         2
3         1    1  35.0      1      0   53.1000         2
4         3    0  35.0      0      0    8.0500         2
5         3    0  44.5      0      0    8.4583         1
6         1    0  54.0      0      0   51.8625         2
7         3    0   2.0      3      1   21.0750         2
8         3    1  27.0      0      2   11.1333         2
9         2    1  14.0      1      0   30.0708         0
10        3    1   4.0      1      1   16.7000         2
11        1    1  58.0      0      0   26.5500         2
12        3    0  20.0      0      0    8.0500         2
13        3    0  39.0      1      5   31.2750         2
14        3    1  14.0      0      0    7.8542         2
15        2    1  55.0      0      0   16.0000         2
16        3    0   2.0      4      1   29.1250         1
17        2    0  16.5      0      0   13.0000         2
18        3    1  31.0      1      0   18.0000         2
19        3    1  33.0      0      0    7.2250         0
20        2    0  35.0      0      0   26.0000         2
21        2    0  34.0      0      0   13.0000         2
22        3    1  15.0      0      0    8.0292         1
23        1    0  28.0      0      0   35.5000         2
24        3    1   8.0      3      1   21.0750         2
25        3    1  38.0      1      5   31.3875         2
26        3    0  28.5      0      0    7.2250         0
27        1    0  19.0      3      2  263.0000         2
28        3    1  26.0      0      0    7.8792         1
29        3    0  33.0      0      0    7.8958         2
..      ...  ...   ...    ...    ...       ...       ...
861       2    0  21.0      1      0   11.5000         2
862       1    1  48.0      0      0   25.9292         2
863       3    1  36.0      8      2   69.5500         2
864       2    0  24.0      0      0   13.0000         2
865       2    1  42.0      0      0   13.0000         2
866       2    1  27.0      1      0   13.8583         0
867       1    0  31.0      0      0   50.4958         2
868       3    0  17.5      0      0    9.5000         2
869       3    0   4.0      1      1   11.1333         2
870       3    0  26.0      0      0    7.8958         2
871       1    1  47.0      1      1   52.5542         2
872       1    0  33.0      0      0    5.0000         2
873       3    0  47.0      0      0    9.0000         2
874       2    1  28.0      1      0   24.0000         0
875       3    1  15.0      0      0    7.2250         0
876       3    0  20.0      0      0    9.8458         2
877       3    0  19.0      0      0    7.8958         2
878       3    0  37.5      0      0    7.8958         2
879       1    1  56.0      0      1   83.1583         0
880       2    1  25.0      0      1   26.0000         2
881       3    0  33.0      0      0    7.8958         2
882       3    1  22.0      0      0   10.5167         2
883       2    0  28.0      0      0   10.5000         2
884       3    0  25.0      0      0    7.0500         2
885       3    1  39.0      0      5   29.1250         1
886       2    0  27.0      0      0   13.0000         2
887       1    1  19.0      0      0   30.0000         2
888       3    1  22.5      1      2   23.4500         2
889       1    0  26.0      0      0   30.0000         0
890       3    0  32.0      0      0    7.7500         1

[889 rows x 7 columns]

In [18]:
X= np.array(df2)
X.shape

(889, 7)

In [19]:
y= np.array(df_target)
y=y.reshape(-1)
y.shape

(889,)

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=0)

In [21]:
X_train.shape

(622, 7)

In [22]:
# 決定木による学習
from sklearn.tree import DecisionTreeClassifier
tree_1 = DecisionTreeClassifier(random_state=0, max_depth=4,)
tree_1.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [23]:
print('train: {:.3f}'.format(tree_1.score(X_train, y_train)))
print('test : {:.3f}'.format(tree_1.score(X_test, y_test)))

train: 0.847
test : 0.787

In [24]:
from sklearn.ensemble import RandomForestClassifier
tree_2 = RandomForestClassifier(random_state=0, n_estimators=10)
tree_2.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [25]:
print('train: {:.3f}'.format(tree_2.score(X_train, y_train)))
print('test : {:.3f}'.format(tree_2.score(X_test, y_test)))

train: 0.973
test : 0.790

In [26]:
index = 1
print('answer : %d' % y_test[index])
print('predict: %d' % tree_1.predict(X_test[index].reshape(1, -1)))

answer : 0
predict: 0

In [27]:
param_grid = {'max_depth': [2, 3, 4, 5, 6],
              'learning_rate': [0.001, 0.01, 0.1, 1, 10]}

In [28]:
from sklearn.model_selection import StratifiedKFold
kf_5 = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

In [29]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier
gs_tree = GridSearchCV(GradientBoostingClassifier(), param_grid, cv=kf_5)

In [35]:
gs_tree.fit(X_train, y_train)

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=0, shuffle=True),
       error_score='raise',
       estimator=GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'max_depth': [2, 3, 4, 5, 6], 'learning_rate': [0.001, 0.01, 0.1, 1, 10]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [36]:
gs_tree.best_params_

{'learning_rate': 0.1, 'max_depth': 4}

In [37]:
from sklearn.ensemble import GradientBoostingClassifier
tree_3 = GradientBoostingClassifier(random_state=0, max_depth=5, learning_rate=0.1)
tree_3.fit(X_train, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=5,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=0, subsample=1.0, verbose=0,
              warm_start=False)

In [38]:
print('train accuracy: %.3f' % tree_3.score(X_train, y_train))
print('test  accuracy: %.3f' % tree_3.score(X_test, y_test))

train accuracy: 0.981
test  accuracy: 0.801